In [ ]:
msg = "hello world"
print(msg)

In [4]:
# https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo
# API key: SXBYK3C9D0F86KI3

import pandas as pd
url = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=SXBYK3C9D0F86KI3"
data = pd.read_json(url)
data.head()

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2021-03-08 19:50:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN
...,...,...
2021-03-08 09:15:00,NaN,"{'1. open': '122.5500', '2. high': '122.7300',..."
2021-03-08 09:10:00,NaN,"{'1. open': '122.6900', '2. high': '122.7000',..."
2021-03-08 09:05:00,NaN,"{'1. open': '122.7300', '2. high': '122.7300',..."
2021-03-08 08:50:00,NaN,"{'1. open': '122.4400', '2. high': '122.4400',..."
2021-03-08 08:30:00,NaN,"{'1. open': '122.5000', '2. high': '122.5000',..."